.storySection {
  width: 100%;
  height: 1300px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-grey);
  flex-direction: column;

  .storyBanner {
    width: 100%;
    height: 500px;
    background-image: url("/images/mountainsLine.jpg");
    background-position: center;
    background-size: cover;
  }

  .storyContent {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .storyContentLeft {
      width: 300px;
      padding: 50px 20px;
      height: 700px;

      p {
        font-size: 60px;
      }
    }

    .storyContentRight {
      flex: 1;
      height: 700px;
      padding: 50px 20px;

      .storyContentRightTop {
        height: 200px;

        h2 {
          font-size: 70px;
          font-weight: 600;
          line-height: 95px;
        }
      }

      .storyContentRightBottom {
        height: 400px;
        width: 450px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        P {
          margin: 20px 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .storySection {
    height: 1600px;

    .storyContent {
      flex-direction: column;
      height: 1000px;

      .storyContentLeft {
        width: 100%;
        height: 130px;
        padding: 20px;
      }

      .storyContentRight {
        width: 100%;
        padding: 0px 20px;

        .storyContentRightBottom {
          width: 340px;
        }
      }
    }
  }
}
