@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --main-blue: #031822;
  --main-green: #578847;
  --main-grey: #d1d1d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: auto;
  height: auto;
  overflow: hidden;
}
