@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --main-blue: #031822;
  --main-green: #578847;
  --main-grey: #d1d1d1;
  --light-grey: #f3f3f3;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}
