.countries {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .showCountryName {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 45;
    font-size: 26px;
    font-weight: 600;
  }

  svg {
    width: 550px;
    height: 350px;

    path {
      cursor: pointer;
      transition: 0.2s all ease-in-out;
    }

    path:hover {
      fill: #578847;
      stroke: #578847;
      -webkit-text-stroke-color: #578847;
    }
  }
}
