.whatWeDoSection {
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;

  .whatWeDoLeft {
    height: 700px;
    width: 300px;
    padding: 50px 20px;

    p {
      font-size: 60px;
      z-index: 10;
    }
  }

  .whatWeDoRight {
    min-height: 700px;
    flex: 1;
    padding: 50px 20px;

    .whatWeDoRightTop {
      h2 {
        font-size: 70px;
        font-weight: 600;
        line-height: 95px;
        margin-bottom: 50px;
        z-index: 9;
      }
    }

    .whatWeDoRightBottom {
    }
  }
}

@media screen and (max-width: 760px) {
  .whatWeDoSection {
    flex-direction: column;

    .whatWeDoLeft {
      width: 100%;
      height: 150px;
    }

    .whatWeDoRight {
      width: 100%;
    }
  }
}
