.contactBubble {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 99;

  .bubbleIcon {
    width: 70px;
    height: 70px;
    fill: var(--main-green);
    cursor: pointer;
  }

  .contactCloud {
    position: fixed;
    bottom: 10%;
    right: 10%;
    margin-top: 70px;
    width: 350px;
    min-height: 100px;
    background: var(--main-green);
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .contactCloudTitle {
      font-size: 28px;
      color: var(--main-white);
      font-weight: bold;
      margin: 10px 0px 20px 0px;
    }

    .contactWrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 15px 0px;
      color: var(--main-white);

      p {
        margin-left: 10px;
      }
    }
  }
}
